.NavBar{
    background-color: #70db46;
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: right;
    padding: 0 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.5);
}

.NavBar ul{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: left;
    list-style: none;
}

.NavBar li{
    color: #333ba7;
    margin-top: 10px;
    margin-right: 30px;
}

.NavBar li:hover{
    color: rgb(196, 218, 28);
    cursor: pointer;
}

#text{
    color: rgb(119, 116, 116);
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-align: right;
    margin-top: 10px;
    margin-right: 50px;
}

#button{
    color: rgb(108, 105, 105);
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-align: right;
    margin-top: 10px;
    margin-right: 50px;
}